{% if content.languages and content.languages.enable %}
    <section>
        <h1 id="{{ to_id(content.languages.title) }}">
            {% if content.page.icon %}
                <span class="icon"><i class="fas {{ content.languages.icon }}"></i></span>&nbsp;
            {% endif %}
            {{ content.languages.title }}
        </h1>
        <div class="language-block">
            {% for item in content.languages.list %}
                <p class="language-label">{{ item.language }}</p>
                <p class="language-description">{{ item.level }}</p>
            {% endfor %}
        </div>
    </section>
{% endif %}