{% if content.skills and content.skills.enable %}
    <section>
        <h1 id="{{ to_id(content.skills.title) }}">
            {% if content.page.icon %}
                <span class="icon"><i class="fas {{ content.skills.icon }}"></i></span>&nbsp;
            {% endif %}
            {{ content.skills.title }}
        </h1>
        <div class="skill-block">
            {% for item in content.skills.list %}
                <div>
                    <p class="skill-title">{{ item.skill }}</p>
                    <div class="w-full bg-gray-200 h-1 mb-1">
                        {% if item.level > 75 %}
                            <div class="bg-green-500 h-1" value="{{ item.level }}"
                                 style="width: {{ item.level }}%"></div>
                        {% elif item.level > 50 %}
                            <div class="bg-blue-500 h-1" value="{{ item.level }}"
                                 style="width: {{ item.level }}%"></div>
                        {% elif item.level > 25 %}
                            <div class="bg-orange-500 h-1" value="{{ item.level }}"
                                 style="width: {{ item.level }}%"></div>
                        {% else %}
                            <div class="bg-purple-500 h-1" value="{{ item.level }}"
                                 style="width: {{ item.level }}%"></div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endif %}