{% if content.education and content.education.enable %}
    <section>
        <h1 id="{{ to_id(content.education.title) }}">
            {% if content.page.icon %}
                <span class="icon"><i class="fas {{ content.education.icon }}"></i></span>&nbsp;
            {% endif %}
            {{ content.education.title }}
        </h1>
        {% for item in content.education.list %}
            <div class="experience-block">
                <p class="experience-date">{{ item.dates }}</p>
                <p class="experience-title">{{ item.college }}</p>
                <p class="experience-description">{{ item.degree }}</p>
                <ul class="experience-list">
                    {% for description in item.description %}
                        <li class="experience-list-item">{{ description }}</li>
                    {% endfor %}
                </ul>
                {% if not loop.last %}
                    <div class="col-span-full pb-4"></div>
                {% endif %}
            </div>
        {% endfor %}
    </section>
{% endif %}