{% if content.profile %}

    <section class="pb-8">
        <div class="pt-72">
            <h1 class="">{{ content.profile.name }}</h1>
            <h3 class="">{{ content.profile.position }}</h3>
        </div>

        <div class="grid grid-cols-12 pt-12 items-center">
            <div class="col-span-8"></div>
            <img width="64px" src="res/img/seal-csm.png">
            <div class="col-span-1"></div>
            <a href="http://linkedin.com/in/chaua.queirolo"> <img width="32px" src="res/img/linkedin.png"></a>
            <a href="http://github.com/chaua"> <img width="32px" src="res/img/github.png"></a>
        </div>
    </section>

    {% if content.profile.enable %}
        <section>
            <h1 id="{{ to_id(content.profile.title) }}">
                {% if content.page.icon %}
                    <span class="icon"><i class="fas {{ content.profile.icon }}"></i></span>&nbsp;
                {% endif %}
                {{ content.profile.title }}
            </h1>
            <div class="profile-bio">
                {% for item in content.profile.bio %}
                    <p class="">{{ item }}</p>
                {% endfor %}
            </div>
        </section>
    {% endif %}

{% endif %}